.millionaire-intro-screen {
	position: relative;
	width: 80%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: 1px double white;
	border-radius: 10px;
	margin-top: 2%;
	padding: 0px 5px 0px 5px;
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
	font-size: 26px;
}

.millionaire-start-button {
	cursor: pointer;
	position: relative;
	top: 20%;
	width: 50px;
	height: 40px;
	border: none;
	flex-basis: 100%;
	background-color: transparent;
	color: white;
	font-size: 25px;
}

.millionaire-start-button:hover {
	transform: scale(1.1);
}

.true-questions-wrapper {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	font-size: 16px;
}

.true-questions-wrapper > p {
	margin-bottom: 20px;
}

.true-questions-wrapper > input {
	width: 50%;
	height: 25px;
	padding: 2px;
	font-size: 15px;
}

@media (max-width: 400px) {
	.true-questions-wrapper {
		font-size: 10px;
	}
}
