.page {
	width: 100%;
	height: calc(100vh - 150px);
	display: flex;
	flex-wrap: wrap;
	padding-left: 5px;
	gap: 5px;
	backdrop-filter: blur(5px);
	overflow-x: hidden;
	overflow-y: auto;
}

@media (max-width: 576px) {
	.page {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}
