.product-wrapper {
	min-height: 300px;
	height: fit-content;
	width: 250px;
	border-radius: 5px;
	background-color: white;
}

.product-wrapper:hover {
	cursor: pointer;
	animation: resize 0.1s linear forwards;
}

.product-wrapper:hover .details-wrapper .product-name {
	color: orange;
}

.product-image {
	border-radius: 2px;
	width: 250px;
	height: 150px;
	max-width: 250px;
}

.details-wrapper {
	padding: 5px;
}

@keyframes resize {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.01);
	}
}
