.sidebar-wrapper {
	height: calc(100vh - 105px);
	min-width: 200px;
	flex-basis: 15%;
	margin: 0px 0px 5px;
	border-radius: 2px;
	padding: 10px 0px 0px 10px;
	background-color: rgba(255, 255, 255, 0.9);
}

.sidebar-list {
	display: flex;
	flex-direction: column;
}

.sidebar-list-item {
	text-decoration: none;
	color: black;
}

.sidebar-list-item:hover {
	color: orange;
}

@media (max-width: 576px) {
	.sidebar-wrapper {
		display: none;
	}
}
