.comment-container {
	display: flex;
	height: 200px;
	max-width: 800px;
	flex-direction: column;
	overflow-y: scroll;
	margin: 2px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 4px;
}

.comment {
	display: flex;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid gray;
}

.avatar {
	height: 50px;
	width: 50px;
}

.comment-text {
	font-size: 14px;
	font-weight: 100;
}

.comment-time {
	font-size: 10px;
	font-weight: 100;
}

.delete-comment-button {
	margin-left: auto;
}

.comment-something-form {
	display: flex;
	flex-direction: column;
	height: 10vh;
	width: 300px;
}

.comment-something-wrapper {
	width: 100%;
	display: flex;
	gap: 5px;
}

.comment-something-wrapper > input {
	min-height: 25px;
	max-height: fit-content;
	flex-basis: 80%;
	height: 25px;
	padding: 1px;
	font-size: 20px;
}
