.product-wrapper {
	text-decoration: none;
	color: black;
	height: fit-content;
	width: 250px;
	border-radius: 5px;
	background-color: white;
}

.product-wrapper:hover {
	cursor: pointer;
	animation: resize 0.1s linear forwards;
}

.product-wrapper:hover .details-wrapper .product-name {
	color: orange;
}

.product-image {
	border-radius: 2px;
	max-width: 250px;
	width: 250px;
	height: 150px;
}

.details-wrapper {
	padding: 5px;
}

@keyframes resize {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.01);
	}
}

@media (max-width: 576px) {
	.product-wrapper {
		display: flex;
		flex-basis: 100%;
	}
	.details-wrapper {
		height: fit-content;
	}
	.product-image {
		align-self: center;
	}
}
@media (min-width: 576px) {
	.product-wrapper {
		min-height: 300px;
	}
}
