.product-wrapper {
	height: fit-content;
	min-height: 313px;
	text-decoration: none;
	align-items: center;
	color: black;
	width: 250px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 2px 2px black;
}

.product-wrapper:hover {
	cursor: pointer;
	animation: resize 0.1s linear forwards;
}

.product-wrapper:hover .details-wrapper .product-name {
	color: orange;
}

.product-wrapper:hover {
	box-shadow: 2px 2px 2px 2px orange;
}

.product-image {
	border-radius: 2px;
	max-width: 250px;
	width: 250px;
	height: 150px;
}

.details-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
}

@keyframes resize {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.01);
	}
}

@media (max-width: 576px) {
	.product-wrapper {
		width: 100%;
		display: flex;
		min-height: 150px;
	}
	.details-wrapper {
		height: fit-content;
		font-size: small;
	}
	.product-image {
		width: 180px;
	}
}

@media (max-width: 735px) and (orientation: landscape) {
	.product-wrapper {
		display: flex;
		flex-basis: 100%;
		min-height: 150px;
	}
	.details-wrapper {
		height: fit-content;
		font-size: small;
	}
	.product-image {
		width: 180px;
	}
}
